In [15]:
import pandas

In [16]:
dataset = pandas.read_csv('marks.csv')

In [17]:
dataset

    no of hrs  hrs in cafe  hrs before exam  marks
0          10           10               15     90
1           9           12                6     45
2           8           11                5     35
3          10            9               10     78
4          15           20                5     80
5          12           10                7     65
6           5            2               15     75
7          14           10               20     95
8           7           15                5     35
9           6           10               10     50
10         15           17                8     53

In [18]:
dataset = dataset.values

In [19]:
predictors = dataset[:,:-1]

In [20]:
predictors

array([[10, 10, 15],
       [ 9, 12,  6],
       [ 8, 11,  5],
       [10,  9, 10],
       [15, 20,  5],
       [12, 10,  7],
       [ 5,  2, 15],
       [14, 10, 20],
       [ 7, 15,  5],
       [ 6, 10, 10],
       [15, 17,  8]])

In [21]:
targets = dataset[:,-1]

In [22]:
targets

array([90, 45, 35, 78, 80, 65, 75, 95, 35, 50, 53])

In [23]:
from sklearn.linear_model import LinearRegression

In [24]:
model = LinearRegression()

In [25]:
model.fit(predictors,targets)

LinearRegression()

In [28]:
model.predict([[9,13,7]])

array([51.78934655])

In [29]:
import joblib

In [30]:
joblib.dump(model,'marks_predictor.pk1')

['marks_predictor.pk1']